<%= render 'layouts/flash_messages' %>

<div class="card text-white">
  <img class="img-fluid" src="images/car.jpg" alt="car">
  <div class="card-img-overlay">
    <h1 class="title mb-4">
      「子供が笑顔になった」<br>「買ってよかった」を共有しませんか
    </h1>
    <%= link_to "記事を書く", new_article_path, class: "btn btn-info btn-lg" %>
  </div>
</div>

<div class="py-5 bg-light">
  <h2 class="pb-3 text-center text-monospace">投稿一覧</h2>
  <%= render 'article' %>
</div>