<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>" role="alert" id="alert">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <%= message %>
  </div>
<% end %>